/**
 * Mogul 
 *
 * A rudimentary modal dialog for basic purposes. 
 * Author:  Chad Kelley, csharpkelley@gmail.com
 *
 * mogul.css - This file is part of the mogul project.  
 *
 *  The MIT License (MIT)
 * 
 * Copyright (c) 2014 Chad Kelley, csharpkelley@gmail.com, chadguitar@live.com
 * 
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 * 
 * The above copyright notice and this permission notice shall be included in
 * all copies or substantial portions of the Software.
 * 
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
 * THE SOFTWARE.
 */

.mogul {
    border: 2px solid #000;
    padding: 15px;
    z-index: 999999;
    position: absolute;

    margin-bottom: 10px;
    background: none repeat scroll 0% 0% #FFFCB3 !important;
    font-size: 12px;
    border: 1px solid #CDCDB5 !important;
    font-family: "Trebuchet MS",Verdana,Arial,sans-serif;
    line-height: 18px;
    /*min-width: 250px;*/ 
}

.mogul_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
    z-index: 10000;
}

.mogul_body {
    margin-top: 12px; 
}

.mogul_controls {
    height: 8px; 
}

.mogul_close {
    background: url('img/close.png') no-repeat center left; 
    height: 18px;
    width: 18px; 
    float: left; 
    margin-top: 0px; 
    cursor: pointer;  
}
     
.mogul_title {
    float: left; 
    margin-left: 3px;
    margin-top: 0px; 
    font-size: 14px; 
    font-family: "Trebuchet MS",Verdana,Arial,sans-serif;
}
 
